.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 375px;
  padding: 8px;
  border: 2px solid black;
}

.wrap {
  display: flex;
  flex-direction: column;
}
.input {
  font: inherit;
  padding-left: 8px;
}

.error {
  color: brown;
  font-size: 15px;
}

.btn {
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
